/* Add to your index.css or a new CSS file */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots li button:before {
  color: white !important;
}

.slick-dots li.slick-active button:before {
  color: #FF9933 !important; /* Saffron */
}
